{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron"
                style="background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/fruits-vegetables_VCXUQACTGW.jpg); background-size: 100%;">
                <h1 class="display-3" style="text-align: center; margin-top: 20px; position:relative; top:40px;">FOOD
                    TRACKER</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card bg-light border-right-0" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2016/11/21/11/57/avocado-1844894_1280.jpg" class="card-img-top" alt="Table of Food">
                <div class="card-body">
                    <p class="card-text index-cards">
                        Food Tracker has over 500,000 seachable foods to log throughout the day to keep track of your daily diet.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light border-right-0" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2015/03/26/09/42/breakfast-690128_1280.jpg" class="card-img-top" alt="Lunch Table">
                <div class="card-body">
                    <p class="card-text index-cards">Forum page allows the Food Tracker community to share their opinions on diets, workouts, recipes and more.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light border-right-0" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2015/01/16/15/02/eating-601578_1280.jpg" class="card-img-top" alt="Cupcakes">
                <div class="card-body">
                    <p class="card-text index-cards">Sign up for free and gain access to the Food Tracker app to start tracking your diet and living a healthier lifestyle.</p>
                </div>
            </div>
        </div>
    </div>
</div>