{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron"
                style="background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/fruits-vegetables_VCXUQACTGW.jpg); background-size: 100%;">
                <h1 class="display-3" style="text-align: center; margin-top: 20px; position:relative; top:40px;">FoodTrak</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card bg-light border-right-0" style="width: 18rem; height: 20.5rem;">
                <img src="https://cdn.pixabay.com/photo/2016/11/21/11/57/avocado-1844894_1280.jpg" class="card-img-top" alt="Table of Food">
                <div class="card-body">
                    <p class="card-text index-cards"><a class="nav-link" href="/signup">
                        FoodTrak has over 500,000 seachable foods to log throughout the day to keep track of your daily food intake.
                    </a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light border-right-0" style="width: 18rem; height: 20.5rem;">
                <img src="https://cdn.pixabay.com/photo/2015/03/26/09/42/breakfast-690128_1280.jpg" class="card-img-top" alt="Lunch Table">
                <div class="card-body">
                    <p class="card-text index-cards"><a class="nav-link" href="/signup">FoodTrak Forum community share their opinions on diet, workouts, progress, and motivation.</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light border-right-0" style="width: 18rem; height: 20.5rem;">
                <img src="https://cdn.pixabay.com/photo/2015/01/16/15/02/eating-601578_1280.jpg" class="card-img-top" alt="Cupcakes">
                <div class="card-body">
                    <p class="card-text index-cards"><a class="nav-link" href="/signup">FoodTrak is free! Sign up now and gain access to the FoodTrak app to log the food you eat and win at healthy.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>