{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron" style="background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/fruits-vegetables_VCXUQACTGW.jpg); background-size: 100%;">
                <h1 class="display-3" style= "text-align: center; margin-top: 20px; position:relative; top:40px;">FOOD TRACKER</h1>
            </div>
        </div>
    </div>

    