{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="findfood">
                <div class="form-group">
                    <label for="exampleInputFood1">Food Eaten</label>
                    <input type="food" class="form-control" id="food-input" name="food" placeholder="e.g. french toast">
                </div>
                <button type="submit" class="btn btn-primary" id="search-food-btn">Search Food</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="card food-card" style="width: 18rem;">
            <div class="card-body">
                <div class="card-text" id="food-container"></div>
            </div>
        </div>
    </div>

</div>

<script>
  let foodContainer = $("#food-container");

  $(document).ready(function () {
        $(function () {
            $("#datepicker").datepicker();
        });

        $(".findfood").on("submit", function (event) {
            event.preventDefault();
            foodContainer.empty();

            var foodName = $("#food-input").val().trim();
            $.get(`/api/nutrition/${foodName}`)
                .then(function (data) {
                    createFoodCard(data);
                })
                .catch(function (err) {
                    console.log(err);
                    alert("Food does not exist");
                });
        });
        
        $("#food-container").on("click", ".remove-food", function (event) {
            event.preventDefault();
            window.location.replace("/logfood");             
        });
            

        $("#food-container").on("click", ".log-food", function (event) {
            event.preventDefault();
            let foodID = $(this).attr("data-food-id");
            var servings = $("#servings-input").val();
            var date = $("#datepicker").val();

            if (servings === null) {
                alert("Please enter number of servings")
            }
            else if (date === null) {
                alert("Please enter the date this item was eaten")
            }
            else {
                $.post("/api/nutrition",
                    {
                        FoodId: foodID,
                        quantity: servings,
                        date: date
                    }, function(data) {
                        console.log(data);
                        
                    })
            }
        
      });
   });

    function createFoodCard(data) {
        let foodName = $("<p>").text(`Food Item: ${data.name} \n`).addClass("card-text");
        let calories = $("<p>").text(`Calories: ${data.calories} \n`).addClass("card-text");
        let carbs = $("<p>").text(`Carbs: ${data.carbs} \n`).addClass("card-text");
        let protein = $("<p>").text(`Protein: ${data.protein} \n`).addClass("card-text");
        let sugars = $("<p>").text(`Sugars: ${data.sugars} \n`).addClass("card-text");
        let acceptBtn = $("<button>").addClass("btn btn-primary log-food").attr("data-food-id", data.id).text("Add Food");
        let declineBtn = $("<button>").addClass("btn btn-danger remove-food").text("Remove");

        let servingsInput = $("<input>").attr("type", "number").attr("id", "servings-input").attr("placeholder", "Servings").attr("min", 1).attr("max", 10).addClass("form-control");
        let datePicker = $("<input>").attr("type", "text").attr("id", "datepicker").attr("placeholder", "mm/dd/yyyy");
        let dateText = $("<p>").text("Date Consumed:");
        dateText.append(datePicker);
        let image = $("<img>").attr("src", data.image);

        foodContainer.append(image, foodName, calories, carbs, protein, sugars, servingsInput, dateText, acceptBtn, declineBtn);
    }
</script>