{{> navbar user }}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="logfood">
            <div class="form-group">
                <label for="exampleInputFood1">Food Eaten</label>
                <input type="food" class="form-control" id="food-input" name="food" placeholder="e.g. french toast">
            </div>
            <div class="form-group">
                <label for="servings">Servings</label>
                <input type="number" class="form-control" id="servings-input" name="servings" placeholder="Servings"
                    min=1 max=10></input>
            </div>
            <p>Date: <input type="text" id="datepicker"></p>
            <button type="submit" class="btn btn-primary" id="log-food-btn">Log Food</button>
        </form>
    </div>
</div>
</div>
<script>
    $(document).ready(function () {
        $(function () {
            $("#datepicker").datepicker();
        });
        // Getting references to our form and inputs
        // When the form is submitted, we validate there's an email and password entered
        $(".logfood").on("submit", function (event) {
            event.preventDefault();
            var foodName = $("#food-input").val().trim();
            var quantity = $("#servings-input").val();
            var date = $("#datepicker").val();
            console.log(foodName);
            console.log(quantity);
            console.log(date);

            $.get(`/api/nutrition/${foodName}`)
                .then(function (data) {
                    $.post("/api/nutrition",
                        {
                            FoodId: data.id,
                            quantity: quantity,
                            date: date
                        }
                    )
        })
            .catch(function (err) {
                console.log(err);
                alert("Food does not exist");
            });

        if (!userData.foodName || !userData.quantity) {
            return;
        }
        foodInput(userData.food, userData.quantity);
        foodNameInput.val("");
        quantityInput.val("");
    });
    });
</script>
</div>