{{> navbar user }}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form class="findfood">
                <div class="form-group" style="text-align: center;">
                    <label for="exampleInputFood1">Search for food to be logged</label>
                    <input type="food" class="form-control" id="food-input" name="food" placeholder="e.g. french toast">
                </div>
                <button type="submit" class="btn btn-primary" id="search-food-btn">Search Food</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3 food-card form-group" style="width: 18rem;">
            <div class="card card-body">
                <div class="card-text food-outputs" id="food-container"></div>
            </div>
        </div>
        <div class="col-4">
            Hello
        </div>
        <div class="col">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Food Item #1
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body" id="entered-food">
                            Nutritional information of food item 1
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                Food Item #2
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Nutritional Information of Food Item 2
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                Food Item #3
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Nutrition info for food 3
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let foodContainer = $("#food-container");
    let logFoodContainer = $("#entered-food");

    $(document).ready(function () {

        $(function () {
            $("#datepicker").datepicker();
        });

        $(".findfood").on("submit", function (event) {
            event.preventDefault();
            foodContainer.empty();

            var foodName = $("#food-input").val().trim();
            $.get(`/api/nutrition/${foodName}`)
                .then(function (data) {
                    createFoodCard(data);
                })
                .catch(function (err) {
                    console.log(err);
                    alert("Food does not exist");
                });
        });

        $("#food-container").on("click", ".remove-food", function (event) {
            event.preventDefault();
            window.location.replace("/logfood");
        });

        $("#food-container").on("click", ".log-food", function (event) {
            event.preventDefault();
            let foodID = $(this).attr("data-food-id");
            let servings = $("#servings-input").val();
            let date = new Date($("#datepicker").val());

            if (servings === null) {
                alert("Please enter number of servings");
            }
            else if (date === null) {
                alert("Please enter the date this item was eaten");
            }
            else {
                $.post("/api/nutrition",
                    {
                        FoodId: foodID,
                        quantity: parseInt(servings),
                        date: date
                    }, function (data) {

                    })
            }
        });

    });

    function createFoodCard(data) {
        let foodName = $("<h4>").text(`${data.name} \n`).addClass("food-outputs");
        let calories = $("<p>").text(`Calories: ${data.calories} \n`).addClass("food-outputs");
        let carbs = $("<p>").text(`Carbs: ${data.carbs}g \n`).addClass("food-outputs");
        let protein = $("<p>").text(`Protein: ${data.protein}g \n`).addClass("food-outputs");
        let sugars = $("<p>").text(`Sugars: ${data.sugars}g \n`).addClass("food-outputs");
        let acceptBtn = $("<button>").addClass("btn btn-primary log-food").attr("data-food-id", data.id).text("Add Food");
        let declineBtn = $("<button>").addClass("btn btn-danger remove-food").text("Remove");

        let servingsInput = $("<input>").attr("type", "number").attr("id", "servings-input").attr("placeholder", "Servings").attr("min", 1).attr("max", 10).addClass("form-control");
        let datePicker = $("<input>").attr("type", "text").attr("id", "datepicker").attr("placeholder", "mm/dd/yyyy");
        let dateText = $("<p>").text("Date Consumed:");
        dateText.append(datePicker);
        let image = $("<img>").attr("src", data.image);

        foodContainer.append(foodName, image, calories, carbs, protein, sugars, servingsInput, dateText, acceptBtn, declineBtn);
    }
    function renderRecentFoods(user) {
        $.get(`/api/nutrition/${req.user.id}`)
            .then(function (usersFood) {
                console.log(usersFood);
                let userFoodName = $("<li>").text(`${usersFood.name}`).attr("id", "entered-food");
                logFoodContainer.append(userFoodName);

            })
    }
</script>