{{> navbar user }}
<div class="container">
    <div class="row">
        <div class="col-md">
            <h1 class="display-3" style="text-align: center; margin-top: 20px; position:relative; top:15px;">Log Food</h1>
            <div class="jumbotron"
                style="background-image: url(https://cdn.pixabay.com/photo/2015/07/26/14/02/diet-861173_1280.jpg); background-size: 100%;">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form class="findfood">
                <div class="form-group" style="text-align: center;">
                    <label for="exampleInputFood1">Start below by entering the food you've eaten today</label>
                    <input type="food" class="form-control" id="food-input" name="food" placeholder="e.g. french toast">
                </div>
                <button type="submit" class="btn btn-primary btn-sm findfood" id="search-food-btn">Search Food</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3 food-card form-group" style="width: 18rem;">
            <div class="card-body">
                <div class="card-text food-outputs" id="food-container"></div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="serving-input"></div>
            </div>
        </div>
        <div class="col-5">
            <div class="accordion" id="accordionExample">
                <div class="card entered-foodname">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let foodContainer = $("#food-container");
    let logFoodContainer = $(".entered-foodname");
    let userFoodContainer = $(".entered-foodinfo");

    $(document).ready(function () {
        renderRecentFoods()
        $(function () {
            $("#datepicker").datepicker();
        });

        $(".findfood").on("submit", function (event) {
            event.preventDefault();
            foodContainer.empty();

            var foodName = $("#food-input").val().trim();
            $.get(`/api/nutrition/${foodName}`)
                .then(function (data) {
                    createFoodCard(data);
                })
                .catch(function (err) {
                    console.log(err);
                    alert("Food does not exist");
                });
        });

        $(".serving-input").on("click", ".remove-food", function (event) {
            event.preventDefault();
            window.location.replace("/logfood");
        });

        $("#food-container").on("click", ".log-food", function (event) {
            event.preventDefault();
            let foodID = $(this).attr("data-food-id");
            let servings = $("#servings-input").val();
            let date = new Date($("#datepicker").val());

            if (!servings) {
                alert("Please enter number of servings");
            }
            else if (!date) {
                alert("Please enter the date this item was eaten");
            }
            else {
                $.post("/api/nutrition",
                    {
                        FoodId: foodID,
                        quantity: parseInt(servings),
                        date: date
                    }, function (data) {

                    })
            }
        });

    });

    function createFoodCard(data) {
        let foodName = $("<h4>").text(`${data.name} \n`).addClass("food-outputs");
        let calories = $("<li>").text(`Calories: ${data.calories} \n`).addClass("food-outputs");
        let carbs = $("<li>").text(`Carbs: ${data.carbs}g \n`).addClass("food-outputs");
        let protein = $("<li>").text(`Protein: ${data.protein}g \n`).addClass("food-outputs");
        let sugars = $("<li>").text(`Sugars: ${data.sugars}g \n`).addClass("food-outputs");
        let acceptBtn = $("<button>").addClass("btn btn-primary log-food").attr("data-food-id", data.id).text("Add Food");
        let declineBtn = $("<button>").addClass("btn btn-danger remove-food").text("Remove");

        let servingsInput = $("<input>").attr("type", "number").attr("id", "servings-input").attr("placeholder", "Select Number of Servings").attr("min", 1).attr("max", 10).addClass("form-control");
        let datePicker = $("<input>").attr("type", "text").attr("id", "datepicker").attr("placeholder", "mm/dd/yyyy");
        let dateText = $("<p>").text("Date Consumed:");
        dateText.append(datePicker);
        let image = $("<img>").attr("src", data.image);

        foodContainer.append(foodName, image, calories, carbs, protein, sugars);
        $(".serving-input").append(servingsInput, dateText, acceptBtn, declineBtn)
    }
    function renderRecentFoods() {
        $.get(`/api/nutrition/users`)
            .then(function (usersFood) {
                console.log(usersFood);
                for (i = 0; i < 10; i++) {
                    let userFoodName = $("<h4>").text(`${usersFood[i].Food.name}`).addClass("entered-foodname");
                    let calories = $("<li>").text(`Calories: ${usersFood[i].Food.calories} \n`).addClass("entered-foodinfo");
                    let carbs = $("<li>").text(`Carbs: ${usersFood[i].Food.carbs}g \n`).addClass("entered-foodinfo");
                    let protein = $("<li>").text(`Protein: ${usersFood[i].Food.protein}g \n`).addClass("entered-foodinfo");
                    let sugars = $("<li>").text(`Sugars: ${usersFood[i].Food.sugars}g \n`).addClass("entered-foodinfo");


                    let eatenDiv = $("<div>").addClass("card-header").attr("id", "headingOne" + i);
                    let eatenButton = $("<button>").addClass("btn btn-link btn-block text-left").attr("type", "button").attr("data-toggle", "collapse").attr("data-target", "#collapseOne" + i).attr("aria-expanded", "true").attr("aria-controls", "collapseOne" + i);
                    let eatenNutrition = $("<div>").addClass("collapse").attr("aria-labelledby", "headingOne" + i).attr("data-parent", "accordionExample").attr("id", "collapseOne" + i);
                    let eatenInfo = $("<div>").addClass("card-body entered-foodinfo");


                    eatenButton.append(userFoodName);
                    eatenDiv.append(eatenButton);
                    logFoodContainer.append(eatenDiv);


                    eatenInfo.append(calories, carbs, protein, sugars);
                    eatenNutrition.append(eatenInfo);
                    logFoodContainer.append(eatenNutrition);

                };
            })
    }
</script>