{{> navbar user}}

<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="jumbotron" style="background-image: url(https://cdn.pixabay.com/photo/2014/04/09/15/11/vegetables-320131_1280.jpg); background-size:100%;">
                <h1 class="display-3" style= "text-align: center; margin-top: 20px; position:relative;bottom:30px;">Log In</h1>
            </div>
    </div>
  </div>
  {{!-- this row for centering --}}
  <div class="row justify-content-md-center">
    {{!-- this col for sizing --}}
    <div class="col-md-3">
      <h3>Hello again {{ user.email }}.</h3>
      <form class="login">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email-input" name="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password-input" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Log In  </button>
      </form>
      <br />
      <p>Or Sign Up <a href="/signup">here</a></p>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // Getting references to our form and inputs
    var loginForm = $("form.login");
    var emailInput = $("input#email-input");
    var passwordInput = $("input#password-input");

    // When the form is submitted, we validate there's an email and password entered
    loginForm.on("submit", function (event) {
      event.preventDefault();
      var userData = {
        email: emailInput.val().trim(),
        password: passwordInput.val().trim()
      };

      if (!userData.email || !userData.password) {
        return;
      }

      // If we have an email and password we run the loginUser function and clear the form
      loginUser(userData.email, userData.password);
      emailInput.val("");
      passwordInput.val("");
    });

    // loginUser does a post to our "auth/login" route and if successful, redirects us the the members page
    function loginUser(email, password) {
      $.post("/auth/login", {
        email: email,
        password: password
      })
        .then(function () {
          window.location.replace("/dashboard");
          // If there's an error, log the error
        })
        .catch(function (err) {
          console.log(err);
        });
    }
  });
</script>