body {
  margin-bottom: 40px;
}

.index-cardimages img {
  height: 197px;
}

.italic {
  font-style: italic;
}

form.signup,
form.login {
  margin-top: 50px;
}

.forum-post-card {
  width: 100%;
}

.forum-post {
  width: 100%;
}

.foodImage {
  width: 150px;
  overflow: auto;
}

footer {
  text-align: center;
  background-color: #008cba;
  padding: 0.5rem 1.0rem;
}

.index-cards{
  text-align: center;
}

.active {
  color: white;
  background-color:red;
}