body {
  margin-bottom: 30px;
}

.italic {
  font-style: italic;
}

form.signup,
form.login {
  margin-top: 50px;
}

.forum-post-card {
  width: 100%;
}

.forum-post {
  width: 100%;
}

.foodImage {
  width: 150px;
  overflow: auto;
}

footer {
  text-align: center;
  background-color: #008cba;
}
